
@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SLIDER START -->
<aside id="colorlib-hero" class="hero2">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(Content/res/images/img_about.jpg);" class="hght250">
                <div class="overlay"></div>
                <div class="hght250 container-fluid">
                    <div class="hght250 row">
                        <div class="hght250 col-md-6 col-sm-12 col-md-offset-3 slider-text mgl80">
                            <div class="hght250 slider-text-inner slider-text-inner2 text-center txtlft">
                                <h1>Facilities</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- SLIDER END -->

<!-- FACILITIES START -->
<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="amenities-flex">
                <!-- FCL1 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/fitness-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Fitness Center</h2>
                    <p>
                        Arcici Sport Center menyediakan program terbaik di kelasnya untuk pelatihan cardio, angkat beban dan pembentukan tubuh dengan peralatan yang baik,
                        tenaga pelatih yang professional dan berlisensi serta dengan harga yang terjangkau.
                        Pantai Mutiara Fitness Center dengan pemandangan laut yang memukau akan selalu menemani Anda dalam mencapai tubuh impian Anda.
                        <br><br>
                        Kamar bilas, sauna dan area loker yang bersih, nyaman dan ber-AC juga telah menjadi standard fasilitas kami. Terdapat lebih dari 30 kelas yang berjalan setiap minggunya.
                        Anda bebas memilih dari level pemula sampai level ahli. Dari kelas pelatihan high intensity, low impact relaxation sampai rutinitas meditasi.
                        <br><br>
                        Apa pun goal kebugaran pribadi Anda, pelatih kami dapat menunjukkan langkah yang paling efisien dan efektif untuk menjangkau tujuan Anda.
                        Keahlian professional pelatih-pelatih kami akan selalu membimbing Anda. Dengan ini Anda akan tetap fokus dan termotivasi.
                        <br><br>
                        Jam Operational : 07.00 – 22.00 WIB
                    </p>
                </div>
                <!-- FCL1 END -->
                <!-- FCL2 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/swimming-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Swimming Pool</h2>
                    <p>
                        Kolam renang arcici merupkan salah satu wahana air terbaik di jakarta dengan harga tiket yang masih murah dan terjangkau untuk semua kalangan.
                        Tempat yang rimbun dan sejuk kolam renang ini favorite bagi warga cempaka putih dan sekitarnya. selain itu kolam renang dan fasilitas sangat terawat dan
                        nyaman untuk wisata keluarga di akhir pekan.
                        <br><br>
                        Kolam renang arcici merupakan kolam renang legendaris yang di bangun di tahun 90 an, dan  di renovasi di tahun 2017 membuat kolam renang ini lebih bagus dan
                        sangat di rekomendasikan bagi anda warga cempaka putih jakarta pusat untuk menikmati wahana air bersama si buah hati dan keluarga lainnya.
                        <br><br>
                        Jam Operational : 06.00 – 20.00 WIB
                    </p>
                </div>
                <!-- FCL2 END -->
                <!-- FCL3 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/shower-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Shower</h2>
                    <p>
                        Setelah berolahraga, mandi menjadi pilihan untuk kembali menyegarkan tubuh yang kelelahan. Tersedia pilihan air hangat dan air dingin untuk kebugaran tubuh.
                    </p>
                </div>
                <!-- FCL3 END -->
                <!-- FCL4 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/locker-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Locker</h2>
                    <p>
                        Tak perlu khawatir pakaian olah raga tertukar atau berceceran. Dengan fasilitas locker kami, member mempunyai kunci sendiri untuk mengakses lockernya.
                    </p>
                </div>
                <!-- FCL4 END -->
                <!-- FCL5 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/sauna-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Sauna Room</h2>
                    <p>
                        Suhu tubuh yang meningkat setelah berolah raga, di tambah sauna membuat tubuh berkeringat. Dengan meningkatnya suhu tubuh, meningkat pula kemampuan untuk membunuh bakteri, jamur, parasit, dan virus
                    </p>
                </div>
                <!-- FCL5 END -->
                <!-- FCL6 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/musholla-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Musholla</h2>
                    <p>
                        Bagi yang muslim, tersedia ruang musholla untuk beribadah. Aktivitas olah raga maupun kumpul-kumpul tetap dapat dilakukan tanpa meninggalkan kewajiban beribadah
                    </p>
                </div>
                <!-- FCL6 END -->
                <!-- FCL7 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/parking-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Parking Space</h2>
                    <p>
                        Dengan sarana parkir yang luas, kendaraaan bebas bergerak di kiri dan kanan, sehingga pintu bisa dibuka untuk turun naik penumpang.
                    </p>
                </div>
                <!-- FCL7 END -->
                <!-- FCL8 START -->
                <div class="amenities-img animate-box" style="background-image: url(Content/res/images/facilities/security-1.jpg); height:585px;"></div>
                <div class="desc animate-box">
                    <h2 class="fclt-title">Security 24-Hours</h2>
                    <p>
                        Arcici Sport Center menjamin keamanan dan kenyamanan dalam berolah raga dengan sistem keamanan yang lengkap, mulai dari Secure Parking, Pos Jaga 24 jam, dan petugas security yang terlatih
                    </p>
                </div>
                <!-- FCL8 END -->
            </div>
        </div>
    </div>
</div>
<!-- FACILITIES END -->

@RenderPage("~/Views/Shared/_Footer.cshtml")