
@{
    ViewBag.Title = "Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SLIDER START -->
<aside id="colorlib-hero" class="hero2">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(Content/res/images/img_about.jpg);" class="hght250">
                <div class="overlay"></div>
                <div class="hght250 container-fluid">
                    <div class="hght250 row">
                        <div class="hght250 col-md-6 col-sm-12 col-md-offset-3 slider-text mgl80">
                            <div class="hght250 slider-text-inner slider-text-inner2 text-center txtlft">
                                <h1>Price</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- SLIDER END -->

<div id="colorlib-rooms" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12">
                <div class="item col-md-6">
                        <a href="images/room-1.jpg" class="room image-popup-link boxshadow" style="background-image: url(images/room-1.jpg);"></a>
                        <div class="desc text-center boxshadow">

                            <h3><a href="rooms-suites.html">Ground Soccer Field</a></h3>
                            <br>
                            <ul class="boxhome">
                                <li><i class="icon-check"></i> Lapangan rumput asli</li>
                                <li><i class="icon-check"></i> Ukuran Lapangan Standart FIFA ( 104 x 68 ) meter</li>
                                <li><i class="icon-check"></i> Ukuran Gawang Standart FIFA ( 7,32 x 2,44 ) meter</li>
                                <li><i class="icon-check"></i> Tribun Penonton w/ 100 prs capacity</li>
                                <li><i class="icon-check"></i> G-SPORT Shop & Café</li>
                            </ul>
                            <p class="price">
                                <span class="currency currency-menu">Rp.</span>
                                <span class="price-room price-menu">1.000.000</span>
                            </p>
                        </div>
                    </div>

                    <div class="item col-md-6">
                        <a href="images/room-1.jpg" class="room image-popup-link boxshadow" style="background-image: url(images/room-2.jpg);"></a>
                        <div class="desc text-center boxshadow">

                            <h3><a href="rooms-suites.html">Mini Soccer Field</a></h3>
                            <br>
                            <ul class="boxhome">
                                <li><i class="icon-check"></i> Lapangan rumput sintetis</li>
                                <li><i class="icon-check"></i> Lapangan rumput sintetis</li>
                                <li><i class="icon-check"></i> Ukuran Gawang Standart FIFA ( 5 x 2 ) meter</li>
                                <li><i class="icon-check"></i> Tribun Penonton w/ 100 prs capacity</li>
                                <li><i class="icon-check"></i> G-SPORT Shop & Café</li>
                            </ul>
                            <p class="price">
                                <span class="currency currency-menu">Rp.</span>
                                <span class="price-room price-menu">1.000.000</span>
                            </p>
                        </div>
                    </div>
            </div> -->
            <div style="overflow-x:auto;">
                <table style="width:1170px;">
                    <tr>
                        <td class="price" colspan="3" style="width:33.3%; text-align:center;">
                            <table style="width:100%;">
                                <tr>
                                    <td class="price" style="width:33.3%; text-align:center; border-bottom: none !important;border-top: none !important;border-left: none !important;padding: 14px 0px !important;font-weight: 500 !important;font-size: 18px;background: #ecc0c0;">Monday</td>
                                    <td class="price" style="width:33.3%; text-align:center; border-bottom: none !important;border-top: none !important;border-left: none !important;padding: 14px 0px !important;font-weight: 500 !important;font-size: 18px;background: #ecc0c0;">Thursday</td>
                                    <td class="price" style="width:33.3%; text-align:center; border:none !important;padding: 14px 0px !important;font-weight: 500 !important;font-size: 18px;background: #ecc0c0;">Friday</td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="2" style="width:33.3%; text-align:center;">
                            <table style="width:100%;">
                                <tr>
                                    <td class="price" style="width:50%; text-align:center; border-bottom: none !important;border-top: none !important;border-left: none !important;padding: 14px 0px !important;font-weight: 500 !important;font-size: 18px;background: #ecc0c0;">Saturday</td>
                                    <td class="price" style="width:50%; text-align:center; border:none !important;padding: 14px 0px !important;font-weight: 500 !important;font-size: 18px;background: #ecc0c0;">Sunday</td>
                                </tr>
                            </table>
                        </td>
                        <td class="price" style="width:33.3%; text-align:center;padding: 14px 0px !important;font-weight: 500 !important;font-size: 18px;background: #ecc0c0;">Waktu</td>
                    </tr>
                    <tr>
                        <td class="price" colspan="3" style="width:33.3%; text-align:center; vertical-align:middle;">
                            450 K
                        </td>
                        <td class="price" colspan="3">
                            <table style="width:100%;">
                                <tr>
                                    <td class="price" colspan="2" style="width:50%;text-align:center; border-top: none !important;border-left: none !important;">
                                        800 K
                                    </td>
                                    <td class="price" style="width:50%;text-align:center;padding: 5px 0 !important;border-top: none !important;border-left: none !important;border-right: none !important;">
                                        <p class="mb5">06:00 - 08:00 WIB</p>
                                        <p class="mb5">08:00 - 10:00 WIB</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="price" colspan="2" style="width:50%;text-align:center; border-bottom: none !important;border-top: none !important;border-left: none !important;">
                                        600 K
                                    </td>
                                    <td class="price" style="width:50%;text-align:center; border:none !important;padding: 5px 0 !important;">
                                        <p class="mb5">10:00 - 12:00 WIB</p>
                                        <p class="mb5">12:00 - 14:00 WIB</p>
                                        <p class="mb5">14:00 - 16:00 WIB</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="price" colspan="3" style="width:33.3%; text-align:center;vertical-align:middle;">800 K</td>
                        <td class="price" colspan="2" style="width:33.3%; text-align:center;vertical-align:middle;">1000 K</td>
                        <td class="price" style="width:33.3%; text-align:center;padding: 5px 0 !important;">16:00 - 18:00 WIB</td>
                    </tr>
                    <tr>
                        <td class="price" colspan="1" style="width:22.3%; text-align:center;vertical-align:middle;">1200 K</td>
                        <td class="price" colspan="4" style="width:36.3%; text-align:center;vertical-align:middle;">1400 K</td>
                        <td class="price" style="width:33.3%; text-align:center;padding: 5px 0 !important;">
                            <p class="mb5">18:00 - 20:00 WIB</p>
                            <p class="mb5">20:00 - 22:00 WIB</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="price" colspan="1" style="width:22.3%; text-align:center;vertical-align:middle;">900 K</td>
                        <td class="price" colspan="4" style="width:36.3%; text-align:center;vertical-align:middle;">1000 K</td>
                        <td class="price" style="width:33.3%; text-align:center;padding: 5px 0 !important;">
                            <p class="mb5">22:00 - 24:00 WIB</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/_Footer.cshtml")