<!DOCTYPE html>
<html>

    <!-- HEAD START -->
    @RenderPage("_HeadLayout.cshtml")
    <!-- HEAD END -->

    <body>
    
        <div class="colorlib-loader"></div>
        <div id="page">

            @RenderPage("_TopNav.cshtml")

            <!-- PAGE CONTENT START -->
            @RenderBody()
            <!-- PAGE CONTENT END -->

    </body>
</html>
