<nav class="colorlib-nav" role="navigation">
    
    <!-- TOP START -->
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    @*<p class="site">www.gsport.com</p>*@
                </div>
                <div class="col-xs-8 text-right">
                    <p class="num">Call: +01-123-456</p>
                    <ul class="colorlib-social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/gsport_arcici/"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- TOP END -->

    <!-- MENU START -->
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="colorlib-logo"><a href="/home"><img src="~/Content/res/images/gsoccer/gsport_200.png" style="position:relative;margin-top:-30px;"/></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <!-- <li><a href="services.html">Services</a></li> -->
                        <li><a href="/facilities">Facilities</a></li>
                        <li><a href="/price">Price</a></li>
                        <li><a href="/reservation">Reservation</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/tournament">Jadwal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- MENU END -->

</nav>