@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SLIDER START -->
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(Content/res/images/img_bg_5.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Welcome to the G-Sport Soccer Arena</h2>
                                <h1>Arcici Sport Center</h1>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(Content/res/images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Discover &amp; Enjoy</h2>
                                <h1>Everything you need in Stadion</h1>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(Content/res/images/img_bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluids">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>You are invited</h2>
                                <h1>We know how to please you</h1>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(Content/res/images/img_bg_4.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Come &amp; enjoy the unforgetable moment</h2>
                                <h1>In the heart of stadion</h1>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- SLIDER END -->

<!-- COLUMN SEARCH START -->
<div id="colorlib-reservation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 search-wrap">
                <form method="post" class="colorlib-form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="adults">Rent</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="people" id="people" class="form-control">
                                        <option value="#" style="color: #000 !important;">Soccer</option>
                                        <option value="#" style="color: #000 !important;">Mini Soccer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date">Check-in</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" id="date" class="form-control date" placeholder="Check date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="children">Time</label>
                                <div class='input-group date' id='datetimepicker'>
                                    <input type='text' class="form-control" placeholder="Check time" />
                                    <span class="input-group-addon " style="background: #36303f;border-color: #4a4553 !important;border: 2px solid;border-left: none;">
                                        <span class="icon icon-clock" style="color:#9b989f !important;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="submit" name="submit" id="submit" value="Search" class="btn btn-primary btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- COLUMN SEARCH END -->

<!-- HOME START -->
<div id="colorlib-services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                <h2>G-Sport Soccer Arena</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box text-center">
                <div class="services">
                    <img src="~/Content/res/images/gsoccer/soccer.png" alt="" style="width:68%;">
                </div>
            </div>
            <div class="col-md-6 animate-box text-center">
                <div class="services">
                    <p>
                        G-SPORT Soccer Arena berlokasi di wilayah Cempaka Putih – Jakarta Pusat dimana berada di dalam Komplek Arcici Sport Center dengan total luas lahan hampir 3,5 Hektar.
                        Arcici Sport Center merupakan pusat fasilitas olahraga terpadu dimana mempunyai sarana olah raga yang lengkap seperti Kolam renang, fitnes, gym, lapangan tenis,
                        lapangan sepak bola, basket, futsal, Mini Soccer bahkan untuk joging di pagi & malam hari dengan suasana yang asri dan segar.
                        <br><br>
                        Pada bulan November 2018, G-SPORT telah menyelesaikan renovasi pembangunan lapangan bola & tibun Stadion. Besar harapan dengan adanya sarana & fasilitas olahraga
                        yang layak sesuai dengan standar nasional ini dapat akan memenuhi kebutuhan & keinginan akan komunitas pecinta olahraga di Jakarta, khususnya di wilayah Cempaka Putih dan sekitar-nya.
                        <br><br>
                        Dalam hal ini G-SPORT juga memberikan kemudahan untuk melakukan Reservasi secara OnLine melalui aplikasi di website untuk dapat melihat schedule yang ada atau memilih slot hari dan
                        jam yang tersedia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HOME END -->

<!-- COLUMN SCHEDULE START -->
<div id="colorlib-rooms" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                <h2>Schedule</h2>
            </div>
        </div>
        <div class="row">
            <!-- <table class="table table-hover">
                <thead>
                    <tr class="trtitle">
                        <td class="tbhead"></td>
                        <td class="tbhead">Monday</td>
                        <td class="tbhead">Tuesday</td>
                        <td class="tbhead">Wednesday</td>
                        <td class="tbhead">Thursday</td>
                        <td class="tbhead">Friday</td>
                        <td class="tbhead">Saturday</td>
                        <td class="tbhead">Sunday</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbhead">01:00</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                    </tr>
                    <tr>
                        <td class="tbhead">02:00</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                    </tr>
                    <tr>
                        <td class="tbhead">03:00</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                    </tr>
                    <tr>
                        <td class="tbhead">04:00</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                    </tr>
                    <tr>
                        <td class="tbhead">05:00</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                        <td class="tbavail">Available</td>
                        <td class="tbbooked">Booked</td>
                    </tr>
                </tbody>
            </table> -->
            <div id="calendar"></div>
        </div>
    </div>
</div>
<!-- COLUMN SCHEDULE END -->

<!-- COLUMN SCHEDULE START -->
<div id="colorlib-rooms">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                <h2>MATCH</h2>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover match">
                <tbody>
                    <tr>
                        <td style="width:33.3%">
                            <div class="boxteam">OCIR FC</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxvs">VS</div>
                            <div class="">28 Oct 2018, 10:00 WIB</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxteam">SIPOON FC</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:33.3%">
                            <div class="boxteam">OCIR FC</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxvs">VS</div>
                            <div class="">28 Oct 2018, 10:00 WIB</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxteam">SIPOON FC</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:33.3%">
                            <div class="boxteam">OCIR FC</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxvs">VS</div>
                            <div class="">28 Oct 2018, 10:00 WIB</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxteam">SIPOON FC</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:33.3%">
                            <div class="boxteam">OCIR FC</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxvs">VS</div>
                            <div class="">28 Oct 2018, 10:00 WIB</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxteam">SIPOON FC</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:33.3%">
                            <div class="boxteam">OCIR FC</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxvs">VS</div>
                            <div class="">28 Oct 2018, 10:00 WIB</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxteam">SIPOON FC</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:33.3%">
                            <div class="boxteam">OCIR FC</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxvs">VS</div>
                            <div class="">28 Oct 2018, 10:00 WIB</div>
                        </td>
                        <td style="width:33.3%">
                            <div class="boxteam">SIPOON FC</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- COLUMN MATCH END -->

<!-- COLUMN DESC 2 START -->
<div id="colorlib-rooms" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                <h2>G-Sport Soccer Arena</h2>
                <p>G-SPORT Soccer Arena memiliki dua lapangan sepak bola, yaitu :</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="">
                    <div class="item col-md-6">
                        <a href="images/room-1.jpg" class="room image-popup-link boxshadow" style="background-image: url(Content/res/images/room-1.jpg);"></a>
                        <div class="desc text-center boxshadow">
                            <h3><a href="rooms-suites.html">Ground Soccer Field</a></h3>
                            <br>
                            <ul class="boxhome">
                                <li><i class="icon-check"></i> Lapangan rumput asli</li>
                                <li><i class="icon-check"></i> Ukuran Lapangan Standart FIFA ( 104 x 68 ) meter</li>
                                <li><i class="icon-check"></i> Ukuran Gawang Standart FIFA ( 7,32 x 2,44 ) meter</li>
                                <li><i class="icon-check"></i> Tribun Penonton w/ 100 prs capacity</li>
                                <li><i class="icon-check"></i> G-SPORT Shop & Café</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item col-md-6">
                        <a href="images/room-1.jpg" class="room image-popup-link boxshadow" style="background-image: url(Content/res/images/room-2.jpg);"></a>
                        <div class="desc text-center boxshadow">
                            <h3><a href="rooms-suites.html">Mini Soccer Field</a></h3>
                            <br>
                            <ul class="boxhome">
                                <li><i class="icon-check"></i> Lapangan rumput sintetis</li>
                                <li><i class="icon-check"></i> Lapangan rumput sintetis</li>
                                <li><i class="icon-check"></i> Ukuran Gawang Standart FIFA ( 5 x 2 ) meter</li>
                                <li><i class="icon-check"></i> Tribun Penonton w/ 100 prs capacity</li>
                                <li><i class="icon-check"></i> G-SPORT Shop & Café</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COLUMN DESC 2 END -->

<!-- COLUMN NEWS START -->
<div id="colorlib-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                <h2>Recent News</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
        <div class="blog-flex">
            <div class="video colorlib-video" style="background-image: url(images/blog-3.jpg);">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a>
                <div class="overlay"></div>
            </div>
            <div class="blog-entry">
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <a href="blog.html" class="blog-post">
                            <span class="img" style="background-image: url(images/blog-1.jpg);"></span>
                            <div class="desc">
                                <span class="date">January 14, 2018</span>
                                <h3>A Definitive Guide to the Best Dining</h3>
                                <span class="cat">Activities</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12 animate-box">
                        <a href="blog.html" class="blog-post">
                            <span class="img" style="background-image: url(images/blog-2.jpg);"></span>
                            <div class="desc">
                                <span class="date">January 14, 2018</span>
                                <h3>How These 5 People Found The Path to Their Dream Trip</h3>
                                <span class="cat">Activities</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12 animate-box">
                        <a href="blog.html" class="blog-post">
                            <span class="img" style="background-image: url(images/blog-3.jpg);"></span>
                            <div class="desc">
                                <span class="date">January 14, 2018</span>
                                <h3>Our Secret Island Boat Tour Is just for You</h3>
                                <span class="cat">Activities</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12 animate-box text-right">
                        <a href="news.html">View all news post <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COLUMN NEWS END -->

@RenderPage("~/Views/Shared/_Footer.cshtml")

<script>
	$(function () {
		$('#datetimepicker').datetimepicker({
			format: 'HH:mm'
		});
	});
</script>
<script>

	$(document).ready(function() {

		var today = moment().day();

	$('#calendar').fullCalendar({
		header: {
		left: 'prev,next today',
		center: 'title',
		},
			defaultView: 'agendaWeek',
		firstDay: today,
		navLinks: true,
			allDaySlot: false,
		eventLimit: true,
		events: [
		{
		    id: 999,
		    title: 'Team Siipon',
		    start: '2019-02-09T16:00:00',
					end: '2019-02-09T18:30:00'
		},
		{
		    id: 999,
		    title: 'Team Siipon',
		    start: '2019-02-16T16:00:00',
					end: '2019-02-16T18:30:00'
		},
		{
		    title: 'Team Ocir',
		    start: '2019-02-10T10:30:00',
		    end: '2019-02-10T12:30:00'
		},
		{
		    title: 'Team Sidqi',
		    start: '2019-02-11T12:00:00',
					end: '2019-02-11T14:30:00'
		},
		{
		    title: 'Tournament Team Sidqi Vs Team Ocir',
		    start: '2019-02-12T14:30:00',
					end: '2019-02-12T16:30:00'
		},
		{
		    title: 'Team Aldous',
		    start: '2019-02-12T17:30:00',
					end: '2019-02-12T20:00:00'
		},
				{
		    title: 'Team Aldous Mini Map',
		    start: '2019-02-12T17:30:00',
					end: '2019-02-12T20:00:00',
					backgroundColor: '#ff0000'
		},
		{
		    title: 'Team Bangorek',
		    start: '2019-02-12T20:00:00',
					end: '2019-02-12T22:30:00'
		},
		{
		    title: 'Team Vicard',
		    start: '2019-02-13T07:00:00',
					end: '2019-02-13T09:30:00'
		},
		]
	});

	});

</script>