
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SLIDER START -->
<aside id="colorlib-hero" class="hero2">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(Content/res/images/img_about.jpg);" class="hght250">
                <div class="overlay"></div>
                <div class="hght250 container-fluid">
                    <div class="hght250 row">
                        <div class="hght250 col-md-6 col-sm-12 col-md-offset-3 slider-text mgl80">
                            <div class="hght250 slider-text-inner slider-text-inner2 text-center txtlft">
                                <h1>About Us</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- SLIDER END -->

<!-- ABOUT START -->
<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about animate-box">
                    <h2 class="abt-title">Welcome to G-SPORT</h2>
                    <p>
                        Peranan olahraga dalam peningkatan kesehatan, pembinaan mental maupun watak semakin lama semakin memegang peranan penting dalam kehidupan sehari-hari.
                        Saat ini olahraga juga telah menjadi bagian dari gara hidup (lifestyle) masyarakat Indonesia, antusias minat masyarakat akan olahraga semakin terus meningkat dimana sangat
                        berbanding terbalik dengan sarana & fasilitas olahraga ada sekarang dan dengan segala keterbatasannya.
                        <br><br>
                        Oleh karena itu, berawal dari hobi akan olahraga dan sebagai warga yang tinggal di wilayah Cempaka Putih sejak tahun 1978, maka timbullah ide untuk menjadi penyedia layanan
                        sarana & fasilitas olahraga. Semenjak penandatangan kerjasama dengan PT. Jakarta Tourisindo pada akhir April 2018, G-SPORT langsung melakukan kegiatan Renovasi Total
                        Lapangan Sepak Bola & Tribun Stadion yang mana akhirnya di bulan November 2018, sarana & fasilitas yang ada sudah dapat digunakan.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="Content/res/images/img_bg_5.jpg" style="margin:60px 0 !important;">
            </div>
        </div>
    </div>
</div>
<!-- ABOUT END -->

<!-- VISION MISSION START -->
<div id="colorlib-testimony" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                <h2>Vision and Mission</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animate-box text-center">
                <div class="services" style="text-align:left!important;">
                    <ul class="ulistn">
                        <li class="mg-btm-5">Ikut serta membantu program pemerintah dengan menyediakan sarana & fasilitas olahraga yang memadai dan nyaman untuk masyarakat sekitar.</li>
                        <li class="mg-btm-5">Mendapatkan bibit-bibit unggul olahraga yang nantinya dapat ikut serta mengharumkan Indonesia di tingkat nasional bahkan internasional.</li>
                        <li class="mg-btm-5">Menjadikan Arcici Sport Center sebagai salah satu tempat pilihan Olahraga & Rekreasi bagi masyarakat luas di Jakarta, khusus nya di wilayah Cempaka Putih dan sekitarnya.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- VISION MISSION END -->

@RenderPage("~/Views/Shared/_Footer.cshtml")

