<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CORE.COMPRO.Properties.Settings.GSportConnectionString"
            connectionString="Data Source=KLDIT18\SQLEXPRESS;Initial Catalog=GSport;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>